/data
.Rproj.user/
.Rhistory
.Rproj.user/B429C8C2/sources/prop/0A6F3FA0
.Rproj.user/B429C8C2/sources/prop/95A3C217
.Rproj.user/B429C8C2/sources/prop/334B2F8E
.Rproj.user/B429C8C2/sources/prop/801E70E5
.Rproj.user/B429C8C2/sources/prop/INDEX
.Rproj.user/B429C8C2/sources/session-F755BCB1/06A881BF
.Rproj.user/B429C8C2/sources/session-F755BCB1/06A881BF-contents
.Rproj.user/B429C8C2/sources/session-F755BCB1/8B1872E8-contents
.Rproj.user/B429C8C2/sources/session-F755BCB1/51DD0F26
.Rproj.user/B429C8C2/sources/session-F755BCB1/51DD0F26-contents
.Rproj.user/B429C8C2/sources/session-F755BCB1/73D92521-contents
.Rproj.user/B429C8C2/sources/session-F755BCB1/98A4CF68-contents
.Rproj.user/B429C8C2/sources/session-F755BCB1/47754F42
.Rproj.user/B429C8C2/sources/session-F755BCB1/47754F42-contents
.Rproj.user/B429C8C2/sources/session-F755BCB1/BA6E0266-contents
.Rproj.user/B429C8C2/sources/session-F755BCB1/BB8DB50C-contents
.Rproj.user/B429C8C2/sources/session-F755BCB1/CE0B5EB6
.Rproj.user/B429C8C2/sources/session-F755BCB1/CE0B5EB6-contents
.Rproj.user/B429C8C2/sources/session-F755BCB1/DB1B8C60
.Rproj.user/B429C8C2/sources/session-F755BCB1/DB1B8C60-contents
.Rproj.user/B429C8C2/sources/session-F755BCB1/F67D040D-contents
.Rproj.user/B429C8C2/sources/session-F755BCB1/lock_file
.Rproj.user/shared/notebooks/paths
